<br />

<div class="booyah-box col-10 offset-1">
  <h1>Instructor careers</h1>

  <p>
    This website is currently for test and promotional purposes only. Therefore, you can sign up as an instructor and upload video tutorials, but any fees charged for courses is for TESTING purposes only. To bypass a fee for enrolling in any course, enter a TEST CARD number of 424242424242 and any Expiration Date that is in the future.
    <br />
    <br />
    Any possible changes to this website's TEST PHASE will be highlighted on this page.
  </p>  
    <br />
  <p>
    <h2> ILLEGAL/ADULT CONTENT UPLOAD POLICY </h2>
    <br />
    Please be aware that by signing up as an instructor, you agree to not post content pertaining to illegal activities (according to the United States) or explicit content (not approved for ages under 18). Any content violating these rules will be removed, your instructor account will be banned, and legal actions may be taken.
    <br />
    <br />
    Any illegal content posted to this website will be soley YOUR responsibility and may be subject to criminal investigation. This website and its creators cannot be held accountable for any unauthorized content posted to this website. If you have any questions or concerns about content posted to this website, please email video-forest-admin@gmail.com
  </p>
  <br />

</div>