<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Welcome to Video Forest</h1>
    <br />
    <h2>Stream the Forest through the trees</h2>
    <br />
    <%= link_to 'Enter the Forest', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
