<br />

<div class="booyah-box col-10 offset-1">
  <h1>Video-Forest Team</h1>

  <p>
    Thanks for checking out the Video-Forest! This web application is created and maintained by <%= link_to 'Matthew Choat', 'https://matthewchoat.netlify.com/' %>. 
  </p>
</div>